<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title><%=title%></title>
  <link href="/css/normalize.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet">
  <link href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.min.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <script type="text/javascript" src="/js/velocity.min.js"></script>
  <script src="https://kit.fontawesome.com/d082fee913.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href='/css/home.css'>
  <link rel="icon" href="../assets/pictures/favicon.ico">
  
</head>
<body>
<div class="topleft">
  <em href="#" class="fas fa-user-astronaut"><a class="acc-open"></a></em>
</div>
<div>
	<em href="#" class="fas fa-bell"><a class=""></a></em>
</div>
<nav>
  <div class="logo heading">
    <a href ="#" ><img src="/images/ti.png" alt="Thapar width="50rem" height="50rem" ></a>
  </div>
  <div>
    <ul>
      <li><a href="#">Sociate</a></li>
      <li><a href="#">Discro</a></li>
      <li><a href="#">Herupa</a></li>
      <li><a href="#">UnAcademic</a></li>

    </ul>
  </div>
  <ul>
    <li>
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-search" width="26" height="26" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" />
        <circle cx="10" cy="10" r="7" />
        <line x1="21" y1="21" x2="15" y2="15" />
      </svg>
    </li>
  </ul>
 
  <div class="button">
    <a class="btn-open" href="#"></a>
  </div>
</nav>
<div class="overlay">
	<div class="wrap">
		<ul class="wrap-nav">
			<li><a href="#">Sociate</a>
			<ul>
				<li><a href="#">Events</a></li>
				<li><a href="#">Societies</a></li>
				<li><a href="#">Feeds</a></li>
				<li><a href="#"></a></li>
			</ul>
			</li>
			<li><a href="#">Discro</a>
			<ul>
				<li><a href="#">Anouncements</a></li>
				<li><a href="#">Clubs</a></li>
        <li><a href="#"></a></li>
			</ul>
			</li>
			<li><a href="#">Herupa</a>
			<ul>
				<li><a href="#">First Year</a></li>
				<li><a href="#">Second Year</a></li>
				<li><a href="#">Third Year</a></li>

			</ul>
			</li>
      <li><a href="#">UnAcademic</a>
        <ul>
          <li><a href="#">Informal Research</a></li>
          <li><a href="#">Short Vids</a></li>
          <li><a href="#">Blogs</a></li>
        </ul>
      </li>
		</ul>

    <div class="social">
			<a href="#">
			</a>
			<a href="#">
			<div class="social-icon">
				<i class="fa fa-codepen"></i>
			</div>
			</a>
			<a href="#">
			<div class="social-icon">
				<i class="fa fa-behance"></i>
			</div>
			</a>
			<a href="#">
			<div class="social-icon">
				<i class="fa fa-dribbble"></i>
			</div>
			</a>
		</div>

		<div class="social">
			<a href="#">
			<div class="social-icon">
				<i class="fa fa-facebook"></i>
			</div>
			</a>
			<a href="#">
			<div class="social-icon">
				<i class="fa fa-twitter"></i>
			</div>
			</a>
			<a href="#">
			<div class="social-icon">
				<i class="fa fa-codepen"></i>
			</div>
			</a>
			<a href="#">
			<div class="social-icon">
				<i class="fa fa-behance"></i>
			</div>
			</a>
			<a href="#">
			<div class="social-icon">
				<i class="fa fa-dribbble"></i>
			</div>
			</a>
			<p>
				From: Patiala, Punjab<br>
				 Site: <a href="#">UnCataract</a>
			</p>
		</div>




	</div>
</div>

<script src='/js/jquery-3.6.0.min.js'></script>
<script  src='/js/navbar.js'></script>
