<%- include("navbar"); -%>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sociate</title>
    <link rel="stylesheet" href="/css/sociate.css">
</head>
<body>
    <div class="absolute-wrapper">
        <div class="alphabets">
            <% for (let i = 65; i<91; i++) { %>
                <div class="alpha">
                    <%= String.fromCharCode(i) %>

                </div>
                
            <%}%>
        </div>
    </div>


    <div>

    </div>

</body>
</html>