<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Almanac</title>
  <link rel="stylesheet" href="./CSS/home.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet">
  <link href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.min.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <script src="https://kit.fontawesome.com/d082fee913.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="topleft">
  <em class="fas fa-user-astronaut"><a class="acc-open" href="#"></a></em>
</div>
<nav>
  <div class="logo heading">
    <img src="ti.png" alt="Thapar width="50rem" height="50rem" >
  </div>
  <div>
    <ul>
      <li><a href="#">HOME</a></li>
      <li><a href="#">DISCRO</a></li>
      <li><a href="#">SOCIATE</a></li>
      <li><a href="#">HERUPA</a></li>

    </ul>
  </div>
  <ul>
    <li>
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-search" width="26" height="26" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" />
        <circle cx="10" cy="10" r="7" />
        <line x1="21" y1="21" x2="15" y2="15" />
      </svg>
    </li>
  </ul>
 
  <div class="button">
    <a class="btn-open" href="#"></a>
  </div>
</nav>
<div class="overlay">
	<div class="wrap">
		<ul class="wrap-nav">
			<li><a href="#">Sociate</a>
			<ul>
				<li><a href="#">Events</a></li>
				<li><a href="#">Societies</a></li>
				<li><a href="#">Feeds</a></li>
				<li><a href="#"></a></li>
			</ul>
			</li>
			<li><a href="#">Discro</a>
			<ul>
				<li><a href="#">Anouncements</a></li>
				<li><a href="#"></a></li>
				<li><a href="#">Clubs</a></li>
			</ul>
			</li>
			<li><a href="#">Herupa</a>
			<ul>
				<li><a href="#">First Year</a></li>
				<li><a href="#">Second Year</a></li>
				<li><a href="#">Third Year</a></li>

			</ul>
			</li>
      <li><a href="#">UnAcademic</a>
        <ul>
          <li><a href="#">Informal Research</a></li>
          <li><a href="#">Short Vids</a></li>
          <li><a href="#">Blogs</a></li>
        </ul>
      </li>
		</ul>

    <div class="social">
			<a href="#">
			</a>
			<a href="#">
			<div class="social-icon">
				<i class="fa fa-codepen"></i>
			</div>
			</a>
			<a href="#">
			<div class="social-icon">
				<i class="fa fa-behance"></i>
			</div>
			</a>
			<a href="#">
			<div class="social-icon">
				<i class="fa fa-dribbble"></i>
			</div>
			</a>
		</div>

		<div class="social">
			<a href="#">
			<div class="social-icon">
				<i class="fa fa-facebook"></i>
			</div>
			</a>
			<a href="#">
			<div class="social-icon">
				<i class="fa fa-twitter"></i>
			</div>
			</a>
			<a href="#">
			<div class="social-icon">
				<i class="fa fa-codepen"></i>
			</div>
			</a>
			<a href="#">
			<div class="social-icon">
				<i class="fa fa-behance"></i>
			</div>
			</a>
			<a href="#">
			<div class="social-icon">
				<i class="fa fa-dribbble"></i>
			</div>
			</a>
			<p>
				From: Patiala, Punjab<br>
				 Site: <a href="#">UnCataract</a>
			</p>
		</div>




	</div>
</div>
<div class="absolute-wrapper">
  <div class="colored-backgrounds">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
<main>
  <div class="content">
    <div class="heading">
      <h1>Event Name</h1>
      <hr/>
      <p>
        Details/Description of ,<br />
        Details/Description of the event<br />
        oDetails/Description<br />
        Details/Description of the event
      </p>

      <h3 class="sname">-Society Name</h3>
      <button type="button">Register</button>
    </div>
  </div>
  <div class="wrapper">
    <div class="images">
      <div class="image"></div>
      <div class="image"></div>
      <div class="image"></div>
      <div class="image"></div>
    </div>
  </div>
  <div class="navigation">
    <div class="right">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-right" width="26" height="26" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" />
        <polyline points="9 6 15 12 9 18" />
      </svg>
    </div>
    <div class="left">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-left" width="26" height="26" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" />
        <polyline points="15 6 9 12 15 18" />
      </svg>
    </div>
  </div>
</main>
<!-- partial -->
  <script src='./jquery-3.6.0.min.js'></script>
  <script  src="./home.js"></script>
  <script  src="./navbar.js"></script>

</body>
</html>